<div class="container">
  <div class="row">
    <h4 class="col-lg-2 text-center bg-light my-4">商品一覧</h4>
      <div class="col-lg-2 text-center  my-4">
        <%= link_to new_admin_item_path, class: 'text-dark' do %>
        <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<table class="mx-auto">
  <thead>
    <tr>
      <th>商品id</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td><%= item.is_active ? '販売中' : '販売停止中' %></td>
    </tr>
    <% end %>
  </tbody>
 </table>
