<div class="container">
  <div class="row">
    <div class="bg-light col-lg-6 my-4">
      <h4>管理者ログイン</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-3 text-right">
      <%= form_with model: @admin, url:admin_session_path, local: true do |f| %>
      <%= f.label :"メールアドレス" %>
    </div>
    <div class="col-md-6 offset-md-1">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <%= f.label :"パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="row">
    <button type="submit" class="btn btn-primary">ログイン</button>
  </div>
      <% end %>